@import url('../base/fonts.css');

.category-bar {
	width: 180px;
	min-width: 160px;
	max-width: 200px;
	background-color: #FFF6F0;
	height: 100vh;
	position: relative;
	box-shadow: 2px 0 4px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 768px) {
	.category-bar {
		display: none;
	}
}

.title {
	width: 82px;
	height: 20px;
	display: flex;
	justify-content: flex-start;
	cursor: pointer;
}

.category-text {
	font-family: 'Spoqa Han Sans Neo';
	font-weight: 700;
	font-size: 16px;
	color: #2E2E3A;
	border: none;
	outline: none;
	background-color: transparent;
}

.category-box.selected .category-text {
	color: #FF9670;
}

.title-img {
	width: 16px;
	height: 16px;
	margin-left: 7px;
	margin-top: 2px;
}

.category-box-list {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 20px;
}

.category-box {
	width: 85px;
	height: 102px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.category-box img {
	width: 82px;
	height: 82px;
}