@import url('../base/fonts.css');

.box {
	background-color: #ffffff;
	height: 32px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.header-container {
	margin: 0;
	padding: 0;
}

.header-box {
	margin-top: 32px;
	background-color: white;
	height: 158px;
	color: #2E2E3A;
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid #FF9670;
	box-sizing: border-box;
	padding-left: 454px;
}

.logo {
	width: 140px;
	height: 130px;
	margin-top: 16px;
	cursor: pointer;
}

.lower-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.store-box {
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: flex-end;
	display: flex;
}

.store-text {
	font-family: 'Spoqa Han Sans Neo';
	font-weight: 700;
	font-size: 32px;
}