@charset "UTF-8";

form {
	width: 780px;
}

h3 {
	font-weight: bold;
	font-size: 32px;
	padding-left: 20px;
	margin-bottom:0px;
	
}

.input-group,
.input-group,
.input-group {
	padding: 20px 0 20px 20px;
}


label {
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 10px;
	color: #ff9670;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

textarea {
  width: 100%;          
  height: 150px;         
  font-size: 16px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}


.btn-group {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px; 
}

.btn {
	border: 2px solid #ff9670;
	background: transparent;
	color: #ff9670;
	width: 200px;
	border-radius: 6px;
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
}

.btn:hover {
	background-color: #ff9670;
	color: white;
}


/*progress bar*/
.step-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: #333;
  width: 100px; 
  position: relative;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #ccc;
  color: #999;
  text-align: center;
  line-height: 24px;
  font-weight: bold;
  background-color: #fff;
  z-index: 2;
}

.step.active .circle {
  background-color: #FF9670;
  border: none;
  color: white;
}

.label {
  margin-top: 6px;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
  position: relative;
  top: -12px;
}

.step.active ~ .step .circle {
  background-color: #fff;
  color: #999;
  border: 1px solid #ccc;
}
