.main-content {
	flex: 1;
	padding: 40px;
	overflow-y: auto;
	box-sizing: border-box;
	background-color: white;
	display: flex;
	flex-direction: column;
}

.store-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

.highlight {
	color: #f97c5d;
}

.summary {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 12px;
	margin-bottom: 20px;
}

.summary-box {
	border: 2px solid #f97c5d;
	border-radius: 8px;
	padding: 10px;
	color: #000;
	text-align: left;
}

.summary-box p {
	margin: 0;
	font-size: 14px;
}

.summary-box strong {
	display: block;
	font-size: 18px;
	margin-top: 5px;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
	gap: 10px;
}

button {
	flex: 1 1 30%;
	min-width: 100px;
	padding: 10px;
	border: none;
	background-color: #FF9670;
	color: #FFFFFF;
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

button:hover {
	background-color: #fdd4c2;
}

.icon {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin-right: 6px;
}

.sales-box {
	border: 2px solid #fdbfa8;
	background-color: #fff8f5;
	padding: 20px;
	border-radius: 10px;
	margin-top: 10px;
	text-align: center;
	width: 100%;
}

.tips {
	background-color: #fff1ec;
	border-left: 5px solid #f97c5d;
	padding: 15px;
	margin-top: 30px;
	border-radius: 8px;
	width: 100%;
	box-sizing: border-box;
}

.stats-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 15px;
	margin-top: 10px;
}

.stats-grid .box {
	background: #fff;
	padding: 15px;
	border-radius: 8px;
	border: 2px solid #fdbfa8;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.stats-grid .tag-box {
	grid-column: span 2;
}

.stats-grid canvas {
	width: 100% !important;
	height: 260px !important;
	display: block;
}

canvas {
	width: 100% !important;
	height: auto !important;
	max-height: 250px;
	display: block;
	margin: 0 auto;
}

.no-store-box {
	border: 2px solid #f97c5d;
	padding: 40px 20px;
	margin: 30px 0;
	text-align: center;
	border-radius: 8px;
	font-size: 20px;
	max-width: 100%;
}

.no-store-box p {
	font-size: 24px; /* 문구 크게 */
	font-weight: bold;
	margin-bottom: 20px;
}

.no-store-box .icon {
	width: 24px;
	height: 24px;
	margin-right: 8px;
}