
.main-content {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: white;
}

.store-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

.highlight {
	color: #FF9670;
}

.title-container {
  display: flex;
  align-items: center; 
  gap: 8px;
}

.icon {
	width: 34px;
	height: 34px;
	vertical-align: middle;
	margin-right: 6px;
	stroke-width: 100;
}

.store-container {
  background-color: #fff;
  font-family: 'Spoqa Han Sans Neo';
  color: black;
  width: 100%;
}

.store-header-text {
  max-width: 100%;
  margin-bottom: 16px;
  color: #E44E2E;
}

.store-buttons {
  margin-bottom: 12px;
}

.btn {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  margin-right: 8px;
  cursor: pointer;
}

.btn.add {
  background-color: #FF9F7B;
  color: white;
}

.btn.list {
  background-color: #d3d3d3;
  color: #333;
}

.btn.edit {
  margin-top: 10px;
  background-color: #d3d3d3;
  color: #333;
}

.store-info-box {
  border: 1px solid #FF9F7B;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff4ef;
  margin-bottom: 32px;
}

.menu-section h3 {
  font-size: 16px;
  margin-bottom: 4px;
}

.menu-section p {
  font-size: 14px;
  color: #777;
  margin-bottom: 16px;
}

.menu-carousel {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.carousel-btn {
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-card {
  text-align: center;
}

.menu-img {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border-radius: 6px;
  margin-bottom: 6px;
}

.menu-buttons {
  margin-top: 16px;
}
