<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.takku.project.mapper.FundingMapper">

	<!-- 펀딩 전체 조회 -->
	<select id="selectAllFunding" resultType="FundingDTO">
		SELECT
		funding_id,
		funding_name,
		funding_type,
		sale_price,
		current_qty,
		target_qty,
		status,
		end_date
		FROM takku_funding
		ORDER By created_at DESC
	</select>

	<!-- 펀딩번호로 상세 조회 -->
	<select id="selectByFundingId" parameterType="int"
		resultType="FundingDTO">
		SELECT *
		FROM takku_funding
		WHERE funding_id = #{fundingId}
	</select>

	<!-- 상점 ID로 펀딩 목록 조회 -->
	<select id="selectFundingsByStoreId" resultType="FundingDTO"
		parameterType="int">
		SELECT *
		FROM takku_funding
		WHERE store_id = #{storeId}
	</select>

	<!-- 펀딩 검색 -->
	<select id="selectFundingByCondition" parameterType="map"
		resultType="FundingDTO">
		SELECT *
		FROM takku_funding
		WHERE 1=1
		<if test="keyword != null and keyword != ''">
			AND title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="categoryId != null">
			AND category_id = #{categoryId}
		</if>
		<if test="sido != null and sido != ''">
			AND sido = #{sido}
		</if>
		<if test="sigungu != null and sigungu != ''">
			AND sigungu = #{sigungu}
		</if>
	</select>

	<!-- 등록 -->
	<insert id="insertFunding" parameterType="FundingDTO">
		INSERT INTO
		takku_funding (
		product_id, store_id,
		funding_type, funding_name,
		funding_desc,
		start_date,
		end_date, sale_price, target_qty, max_qty,
		per_qty,
		status,created_at
		) VALUES (
		#{productId},
		#{storeId},
		#{fundingType},
		#{fundingName},
		#{fundingDesc},
		#{startDate},
		#{endDate},
		#{salePrice},
		#{targetQty},
		#{maxQty},
		#{perQty},
		#{status},
		SYSDATE
		)
	</insert>

	<!-- 수정 -->
	<update id="updateFunding" parameterType="FundingDTO">
		UPDATE takku_funding
		SET
		funding_type =#{fundingType},
		funding_name = #{fundingName},
		funding_desc =#{fundingDesc},
		start_date = #{startDate},
		end_date =
		#{endDate},
		sale_price = #{salePrice},
		target_qty = #{targetQty},
		max_qty =#{maxQty},
		per_qty = #{perQty},
		status =#{status}
		WHERE
		funding_id = #{fundingId}
	</update>

	<!-- 삭제 -->
	<delete id="deleteFunding" parameterType="int">
		DELETE FROM
		takku_funding
		WHERE funding_id = #{fundingId}
	</delete>

	<!-- 만료일 가져오기 -->
	<select id="selectEndDateByFundingId" parameterType="int"
		resultType="date">
		SELECT end_date FROM funding WHERE funding_id = #{fundingId}
	</select>
</mapper>